@media all and (min-width: 1265px) {
  .Header {
    padding: 10px 16px;
    background: rgb(241, 245, 0);
    color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 42px;
  }
  .Header .container {
    width: 1265px !important;
  }
  .Header .container .margin-left {
    margin-left: 20px;
  }
  .Header .container .left {
    float: left;
  }
  .Header .container .right {
    float: right;
  }
  .form-control-sm {
    height: 20px;
  }
  .header-block {
    height: 42px;
    margin-bottom: 10px;
  }
}